<div class="container">
  <h3>Admin Console</h3>
  <div class="row mt-5">
    <div
      (click)="navigate('oh/admin/manage-notifications')"
      class="col col-sm admin-card ms-3"
    >
      <div class="row">
        <div class="col col-sm mt-22">
          <h5>Manage Application Notifications</h5>
          <p>
            Manage app notifications on the home page by Creating, updating,
            deleting, saving nitifications.
          </p>
        </div>
      </div>
    </div>
    <div class="col col-sm admin-card ms-3">
      <div class="row">
        <div class="col col-sm mt-22">
          <h5>Manage Feature Flags</h5>
          <p>
            Manage app feature flags on the home page by enabling and disabling
            them.
          </p>
        </div>
      </div>
    </div>
    <div class="col col-sm admin-card ms-3">
      <div class="row">
        <div class="col col-sm mt-22">
          <h5>Application logs</h5>
          <p>Look into the kibana and kafka logs on the system.</p>
        </div>
      </div>
    </div>
    <div class="col col-sm admin-card ms-3">
      <div class="row">
        <div class="col col-sm mt-22">
          <h5>User roles</h5>
          <p>
            Manage user roles by modifing access, adding, revoking permissions.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
