<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ms-5" href="#">OLIS-MORE</a>
</nav>
<nav
  *ngIf="sessionUser$ | async"
  class="navbar navbar-expand-lg navbar-dark navbar-custom justify-content-between"
>
  <a class="navbar-brand ms-5 fs-6">{{ sessionUser$ | async | username }}</a>
  <div class="navbar-brand form-inline pe-3">
    <a (click)="logout()">Logout</a>
  </div>
</nav>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand fs-6 ms-5">
    © Copyright Ontario Health 2023 | Data source: Ontario Laboratories
    Information System (OLIS) | version: oh-admin-0.0.1</a
  >
</nav>
